.review-container img{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.review-container{
    /* width: 80%; */
    border: 2px solid rgb(198, 142, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
}
.review-container p {
    margin: 10px 20px;
    text-align: justify;
}
.customer-rating{
    color: orange;
}
.customer-name{
    font-size: 20px;
}
.star-icon{
    color: rgb(245, 203, 17);
}
