.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: coral;
}
nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(90, 90, 236);
}